
<form [formGroup]="formPro" (ngSubmit)="envoyerForm2()" enctype="multipart/form-data">
  
  
  
  
  
  
  <div class="form-group">

    <label for="name" class="control-label col-md-2"> Nom:</label>
    <div class="col-md-10">
          <input class="form-control" formControlName="nom">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-md-2"> Description:</label>
          <div class="col-md-10">
          <input  class="form-control input-lg" formControlName="description">
        </div>
       
      </div>
      <div class="form-group">
        <div class="col-md-10">
        <label for="name" class="control-label col-md-2"> Prix:</label>
          <input class="form-control" formControlName="prix">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10">
          <label for="name" class="control-label col-md-2"> Quantite:</label>
        
          <input class="form-control" formControlName="quantite">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10">
          <label for="name" class="control-label col-md-2"> Categorie:</label>
       
            <select formControlName="categorie_id" id="pet-select" class="form-control" >
              <option value=""  disabled  [attr.selected]=true>Choisir un categorie</option>
             
                <option *ngFor="let cat of listCat" value={{cat.id}}>{{cat.nom}}</option>
               
            </select>
          </div>
      </div>
      

      
      <input type="file" accept="image/*" (change)="onSelectFile($event)" name="file">
      <img [src]="imgUrl" height="200" *ngIf="imgUrl">
    
      

      <input type="submit" class="btn btn-success" value="Ajouter">
   
</form>
